/*
       ------------contents-----------
1. general styling 
2. nav styling
3. header styling
4. index.html styling
5. about.html styling
6. projects.html styling
7. 404.html styling
7. footer styling
*/


/*-----------1:general styling----------*/
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  /*light mode colours*/

  --light-hamburger-icon-colour: black;
  --light-body-bg-colour: #f8f8ff;
  --light-hover-active-colour: #5c2246;
  --light-nav-footer-bg-colour: #f5f5f5;
  --light-nav-text-colour: black;
  --light-svg-fill-colour: black;
  --light-section-1-bg-colour: #cfcaca;
  --light-section-2-bg-colour: #adafb8;
  --light-section-3-bg-colour: #c7c7c7;
  --light-section-4-bg-colour: #c0bcbc;
  --light-sorce-code-svg-fill-colour: #5a5c5e;
  --light-card-bg-colour: white;
  --light-card-title-span-colour: #333;
  --light-card-box-shadow-colour: rgba(0, 0, 0, 0.2);
  --light-card-box-shadow-hover-colour: #5c2246;
  --light-top-border-colour: #5c2246;
  --light-project-discription-colour: #29292b;
  /*dark mode colours*/

  --hover-active-colour: #f2c7e2;
  --svg-fill-colour: #fff;
  --sorce-code-svg-fill-colour: hsl(214, 7%, 47%);
  --section-1-bg-colour: #121212;
  --section-2-bg-colour: #18191c;
  --section-3-bg-colour: #0f1012;
  --section-4-bg-colour: #111114;
  --body-bg-colour: #121212;
  --nav-footer-bg-colour: #131418;
  --nav-text-colour: #f2f5f7;
  --hamburger-icon-colour: #f2f5f7;
  --card-bg-colour: #262626;
  --card-title-span-colour: rgb(255, 251, 251);
  --card-box-shadow-colour: rgba(139, 138, 138, 0.2);
  --card-box-shadow-hover-colour: #f2c7e2;
  --top-border-colour: #f2c7e2;
  --footer-link-colour: dimgrey;
  --blog-span-hr-colour: rgba(105, 105, 105, 0.26);
  --project-discription-colour: #b5b8bd;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
  background-color: var(--light-body-bg-colour);
  @media (prefers-color-scheme: dark) {
    background-color: var(--body-bg-colour);
  }
}
a {
  color: var(--light-nav-text-colour);
  &:hover {
    color: var(--light-hover-active-colour);
  }
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
    &:hover {
      color: var(--hover-active-colour);
    }
  }
}

/*----------2:nav styling-------*/
nav {
  height: 6rem;
  width: 100vw;
  background-color: var(--light-nav-footer-bg-colour);
  color: var(--light-nav-text-colour);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  @media screen and (max-width: 800px) {
    position: fixed;
    z-index: 3;
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--nav-footer-bg-colour);
    color: var(--nav-text-colour);
  }
  /*Styling logo*/
  .logo {
    padding: 1vh 1vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    img {
      height: 5rem;
      width: 5rem;
    }
    @media screen and (max-width: 800px) {
      padding: 1vh 1vw;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 0;
      margin-right: 0;
      text-align: center;
      padding-left: 1em;
    }
  }

  /*Styling Links*/
  .nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    li a {
      text-decoration: none;
      margin: 0 0.7vw;
      color: var(--light-nav-text-colour);
      &:hover {
        color: var(--light-hover-active-colour);
      }
      &::before {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: var(--light-hover-active-colour);
        position: absolute;
        transition: all ease-in-out 250ms;
        margin: 0 0 0 10%;
      }
      &:hover:before {
        width: 80%;
      }
    }
    li .active {
      color: var(--light-hover-active-colour);
      font-weight: bold;
    }
    li {
      position: relative;
    }
    @media screen and (max-width: 800px) {
      position: fixed;
      background: var(--light-nav-footer-bg-colour);
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
      &.open {
        clip-path: circle(1000px at 100% 10%);
        -webkit-clip-path: circle(1000px at 100% 10%);
        pointer-events: all;
      }
      /*Animating Hamburger Icon on Click*/
      &li {
        opacity: 0;
        &:nth-child(1) {
          transition: all 0.5s ease 0.2s;
        }
        &:nth-child(2) {
          transition: all 0.5s ease 0.4s;
        }
        &:nth-child(3) {
          transition: all 0.5s ease 0.6s;
        }
        &:nth-child(4) {
          transition: all 0.5s ease 0.7s;
        }
        &:nth-child(5) {
          transition: all 0.5s ease 0.8s;
        }
        &:nth-child(6) {
          transition: all 0.5s ease 0.9s;
          margin: 0;
        }
        &:nth-child(7) {
          transition: all 0.5s ease 1s;
          margin: 0;
        }
        &.fade {
          opacity: 1;
        }
      }
    }
    @media (prefers-color-scheme: dark) {
      background: var(--nav-footer-bg-colour);
      li {
        a {
          color: var(--nav-text-colour);
          &:hover {
            color: var(--hover-active-colour);
          }
          &:before {
            background-color: var(--hover-active-colour);
          }
        }
        .active {
          color: var(--hover-active-colour);
        }
      }
    }
  }

  /*Styling Hamburger Icon*/
  .hamburger {
    display: none;
    div {
      width: 30px;
      height: 3px;
      background: var(--light-hamburger-icon-colour);
      margin: 5px;
      transition: all 0.3s ease;
    }
    @media screen and (max-width: 800px) {
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
    }
    @media (prefers-color-scheme: dark) {
      div {
        background: var(--hamburger-icon-colour);
      }
    }
  }

    .project_active {
      color: var(--light-hover-active-colour);
      font-weight: bold;
      @media (prefers-color-scheme: dark) {
                color: var(--hover-active-colour);
              }
    }

  @media screen and (max-width: 800px) {
    .toggle {
      .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      .line2 {
        transition: all 0.7s ease;
        width: 0;
      }
      .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}

/*------3:header-styling-----*/
img.index_header_bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1920px;
  opacity: 70%;
  z-index: -10;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  background-position: center center;

  top: -10;
  left: 0;
  @media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.index_header_h1 {
  padding-top: 7.5em;
  margin: auto;
  text-align: center;
  color: var(--light-nav-text-colour);
  @media screen and (max-width: 800px) {
    padding-top: 7em;
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
  }
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
  }
}
.index_header_welcome_text {
  margin: auto;
  text-align: center;
  padding-bottom: 1.5em;
  color: var(--light-nav-text-colour);
  @media screen and (max-width: 800px) {
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
  }
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
  }
}

img.about_header_bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  opacity: 50%;

  z-index: -10;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: -3em;
  left: 0;
  @media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.about_header_h1 {
  margin: auto;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 4em;
  font-size: 3em;
  z-index: 1;
  color: var(--light-nav-text-colour);
 @media screen and (max-width: 800px) {
     padding-top: 3.25em;
padding-bottom: 1em;
    }
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
  }
}
img.project_header_bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1920px;
  opacity: 70%;
  z-index: -10;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  background-position: center center;

  top: -10;
  left: 0;
  @media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}
.project_header_h1 {
  padding-top:7em;
padding-bottom: 2em;
  margin: auto;
font-size: 1.35em;
  text-align: center;
  color: var(--light-nav-text-colour);
  @media screen and (max-width: 800px) {
    padding-top: 7em;
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
  }
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
  }
}
img.error_header_bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1920px;
  opacity: 10%;
  z-index: -10;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  background-position: center center;

  top: -10;
  left: 0;
  @media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}


/*------4:index.html-styling-----*/

/*index.html about section*/
.index_about_section {
  padding-top: 0.7em;
  background-color: var(--light-section-1-bg-colour);
  @media (prefers-color-scheme: dark) {
    background-color: var(--section-1-bg-colour);
  }
.index_about_h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;
    color: var(--light-nav-text-colour);
@media screen and (max-width: 800px) {
      font-size: .95em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
}
.index_holder {
  max-width: 90%;
display: flex;
  margin: 0 auto;
margin-left: 30em;
@media screen and (max-width: 1450px) {
     margin-left: 25em;
    }
@media screen and (max-width: 1420px) {
     margin-left: 20em;
    }
@media screen and (max-width: 1390px) {
     margin-left: 15em;
    }
@media screen and (max-width: 1270px) {
     margin-left: 15em;
    }
@media screen and (max-width: 1170px) {
     margin-left: 10em;
    }
@media screen and (max-width: 1020px) {
     margin-left: 5em;
    }
@media screen and (max-width: 940px) {
     margin-left: 5em;
    }
@media screen and (max-width: 860px) {
     margin-left: 2em;
    }
@media screen and (max-width: 640px) {
     display: block;
max-width: 80%;
padding-right: 20%;
margin-left: 33%;
    }
@media screen and (max-width: 606px) {
     display: block;
max-width: 80%;
padding-right: 20%;
margin-left: 33%;
    }
}
.index_box-set__knight {
  width: 250px;
display: flex;
  padding: 0 20px 0 0;
float: left;
@media screen and (max-width: 640px) {
     display: block;
    }
}
.index_box-set__knight-image {
  width: 100%;
padding-bottom: 1em;
@media screen and (max-width: 650px) {
     margin-left: -8%;
    }
@media screen and (max-width: 550px) {
     margin-left: -15%;
    }
@media screen and (max-width: 500px) {
     margin-left: -20%;
    }
}

.index_box-set__header {
display: flex;
  color: var(--light-nav-text-colour);
  padding: 12px 0 0;
@media screen and (max-width: 640px) {
     display: block;
margin-top: 2%;
margin-left: 0%;
width: 100%;
    }
 @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
}
.index_box-set__header span {
  font-size: 1em;
  display: flex;
  font-weight: normal;
margin-top: 2em;
@media screen and (max-width: 860px) {
      display: block;
margin-top: 0;
width: 100%;
font-size: .85em;

    }
@media screen and (max-width: 805px) {
      display: block;
margin-top: 0;
width: 100%;
font-size: .75em;

    }
@media screen and (max-width: 640px) {
      display: block;
width: 127%;
margin-left: -9em;
padding-left: 4em;
font-size: .75em;

    }
 @media screen and (max-width: 580px) {
      display: block;
width: 130%;
padding-left: 0;

margin-left: -6em;
font-size: .75em;
padding-bottom: 1em;
    }
}
.index_about_p {
  font-size: 1.4em;
  display: flex;
  font-weight: bold;
margin-top: 1em;
@media screen and (max-width: 805px) {
      display: block;
margin-top: 0;
width: 100%;
padding-left: 1em;
padding-top: .5em;
font-size: .95em;

    }
@media screen and (max-width: 640px) {
      display: block;
width: 127%;
margin-left: -9em;
padding-left: 4em;
font-size: .85em;
padding-bottom: 1em;

    }
 @media screen and (max-width: 580px) {
      display: block;
width: 130%;
padding-left: 0;

margin-left: -6em;
font-size: .75em;
padding-bottom: 1em;
    }
@media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
}
 .index_about_text_placement {
    display: flex;
    padding: 0%;
    margin: 0%;
    padding-bottom: 1em;
padding-top: 1em;
    @media screen and (max-width: 800px) {
      display: flex;
      padding-right: 0em;
      padding-left: 0em;
      margin: 0%;
padding-top: .3em;
      padding-bottom: 1em;
    }
  }
  .index_about_text_h2 {
    padding-top: 0.3em;
font-size: 1.2em;
padding-right: 1em;
    color: var(--light-nav-text-colour);

    @media screen and (max-width: 800px) {
      padding-top: .5em;
      font-size: 0.8em;
padding-left: -5em;
      color: var(--light-nav-text-colour);
    }
@media screen and (max-width: 635px) {
      padding-top: .7em;
      font-size: 0.8em;
margin-left: -5em;
      color: var(--light-nav-text-colour);
    }
@media screen and (max-width: 515px) {
      padding-top: .7em;
      font-size: 0.8em;
margin-left: -6em;
      color: var(--light-nav-text-colour);
    }
@media screen and (max-width: 490px) {
      padding-top: .7em;
      font-size: 0.75em;
margin-left: -7em;
      color: var(--light-nav-text-colour);
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }

  .index_about_link_placement {
    display: flex;
    padding-top: auto;
    align-items: center;
    text-align: center;
    padding-top: 0.4em;
@media screen and (max-width: 800px) {
      padding-top: .3em;
      
    }
  }

.index_about_link{
font-weight: bolder;
}









/*index.html project section*/
.index_card_section {
  background-color: var(--light-section-2-bg-colour);
  padding-top: 0.7em;
  padding-bottom: 0.7em;
@media screen and (max-width: 800px) {
      padding-bottom: 2.5em;
    }
  @media (prefers-color-scheme: dark) {
    background-color: var(--section-2-bg-colour);
  }
  h1 {
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: var(--light-nav-text-colour);
@media screen and (max-width: 800px) {
      font-size: .95em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
}
.index_card_band {
  width: 60%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
padding-top: 1em;
padding-bottom: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 60em) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1610px) {
width: 65%;
margin: auto;
    
  }
@media screen and (max-width: 1410px) {
width: 70%;
margin: auto;
    
  }
@media screen and (max-width: 1360px) {
width: 75%;
margin: auto;
    
  }
@media screen and (max-width: 1260px) {
width: 80%;
margin: auto;
    
  }
@media screen and (max-width: 1140px) {
width: 90%;
margin: auto;
    
  }
@media screen and (max-width: 970px) {
width: 90%;
margin: auto;
    
  }
 @media screen and (max-width: 960px) {
width: 55%;
display: block;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 860px) {
width: 60%;
display: block;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 760px) {
width: 69%;
display: block;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 460px) {
width: 69%;
display: block;
padding-top: 0em;
margin-top: 0em;
padding-bottom: 0em;
margin: auto;
    
  }
}
.index_card {
  background: var(--light-card-bg-colour);
  text-decoration: none;
  box-shadow: 0 2px 5px var(--light-card-box-shadow-colour);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px var(--light-card-box-shadow-hover-colour);
  }
@media screen and (max-width: 960px) {
margin-top: 2em;
    
  }
  @media (prefers-color-scheme: dark) {
    background: var(--card-bg-colour);
    text-decoration: none;
    color: var(--nav-text-colour);
    box-shadow: 0 2px 5px var(--card-box-shadow-colour);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
    &:hover {
      top: -2px;
      box-shadow: 0 4px 5px var(--card-box-shadow-hover-colour);
    }
  }
}

.index_card_links {
  border: 0.2em;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;

  &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-left: 0.75em;
    padding-top: auto;
  }
@media screen and (max-width: 460px) {
margin-left: 0;
&:hover {
    margin-left: 0em;
  }
  }
  @media (prefers-color-scheme: dark) {
    &:hover {
      color: var(--hover-active-colour);
    }
  }
}
.index_card_article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h1 {
    font-size: 18px;
    margin: 0;
    @media (prefers-color-scheme: dark) {
      h1 {
        font-size: 20px;
        margin: 0;
      }
    }
  }
.index_card_thumb {
    padding-bottom: 60%;
    min-height: 100%;
    width: 100%;
    background-size: cover;
  }
  .index_card_thumb_2 {
    padding-bottom: 60%;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

.index_card_text {
  text-align: center;
font-size: 1em;
  color: var(--light-nav-text-colour);
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
 @media screen and (max-width: 1670px) {
font-size: .95em;
padding: 1em;
  }
@media screen and (max-width: 1410px) {
font-size: .95em;
    
  }
@media screen and (max-width: 1360px) {

    
  }
@media screen and (max-width: 1260px) {

    
  }
  }
}
.index_card_discription_text{
  text-align: center;
  color: var(--light-project-discription-colour);
  @media (prefers-color-scheme: dark) {
    color: var(--project-discription-colour);
  }
}
.index_card_link_placement {
  margin: auto;
  display: flex;
  padding-top: auto;
  align-items: center;
  text-align: center;
  padding-top: 0.35em;
}
.index_card_links_placement {
  display: flex;
  margin: auto;
}

.index_card_source_code_links {
  border: 0.2em;
  color: var(--light-sorce-code-svg-fill-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
  &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-left: 0.75em;
    padding-top: auto;
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      color: var(--hover-active-colour);
    }
  }
}
.index_card_link_svg {
  fill: var(--light-svg-fill-colour);
  width: 2.5em;
  height: 2.5em;
  padding-left: 0.9em;
  padding-right: auto;
@media screen and (max-width: 460px) {
margin-left: -.2em;
    
  }
  @media (prefers-color-scheme: dark) {
    fill: var(--svg-fill-colour);
  }
}
.index_card_source_code_svg {
  fill: var(--light-sorce-code-svg-fill-colour);
  width: 2em;
  height: 2em;
  padding-left: 0.7em;
  padding-right: auto;
}
.index_card_project_link_svg {
  fill: var(--light-svg-fill-colour);
  width: 2.5em;
  height: 2.5em;
  padding-left: 0.9em;
  padding-right: auto;
@media screen and (max-width: 460px) {
margin-right: .5em;
    
  }
  @media (prefers-color-scheme: dark) {
    fill: var(--svg-fill-colour);
  }
}
/*------5:about.html-styling-----*/
.about_about_section {
  padding-top: 0.7em;
  background-color: var(--light-section-1-bg-colour);
  @media (prefers-color-scheme: dark) {
    background-color: var(--section-1-bg-colour);
  }
}
  .about_about_h1 {
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;
    color: var(--light-nav-text-colour);

    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
.holder {
  max-width: 90%;
display: flex;
  margin: 0 auto;
margin-left: 30em;
@media screen and (max-width: 1750px) {
     margin-left: 25em;
    }
@media screen and (max-width: 1680px) {
     margin-left: 20em;
    }
@media screen and (max-width: 1590px) {
     margin-left: 15em;
    }
@media screen and (max-width: 1450px) {
     margin-left: 10em;
    }
@media screen and (max-width: 1420px) {
     margin-left: 5em;
    }
@media screen and (max-width: 1390px) {
     margin-left: 5em;
    }
@media screen and (max-width: 1270px) {
     margin-left: 5em;
    }
@media screen and (max-width: 1170px) {
     margin-left: 5em;
    }
@media screen and (max-width: 1020px) {
     margin-left: 5em;
    }
@media screen and (max-width: 940px) {
     margin-left: 5em;
    }
@media screen and (max-width: 860px) {
     margin-left: 2em;
    }
@media screen and (max-width: 640px) {
     display: block;
max-width: 80%;
padding-right: 20%;
margin-left: 33%;
    }
@media screen and (max-width: 606px) {
     display: block;
max-width: 80%;
padding-right: 20%;
margin-left: 33%;
    }
}
.box-set__knight {
  width: 250px;
display: flex;
  padding: 0 20px 0 0;
float: left;
@media screen and (max-width: 640px) {
     display: block;
    }
}
.box-set__knight-image {
  width: 100%;
padding-bottom: 1em;
@media screen and (max-width: 650px) {
     margin-left: -8%;
    }
@media screen and (max-width: 550px) {
     margin-left: -15%;
    }
@media screen and (max-width: 500px) {
     margin-left: -20%;
    }
}

.box-set__header {
display: flex;
  color: var(--light-nav-text-colour);
  padding: 12px 0 0;
@media screen and (max-width: 640px) {
     display: block;
margin-top: 2%;
margin-left: 0%;
width: 100%;
    }
 @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
}
.box-set__header span {
  font-size: 1em;
  display: flex;
  font-weight: normal;
margin-top: 2em;
margin-right: 30em;
@media screen and (max-width: 1850px) {
     margin-right: 25em;
    }
@media screen and (max-width: 1750px) {
     margin-right: 20em;
    }
@media screen and (max-width: 1680px) {
     margin-right: 15em;
    }
@media screen and (max-width: 1590px) {
     margin-right: 10em;
    }
@media screen and (max-width: 1450px) {
     margin-right: 10em;
    }
@media screen and (max-width: 1420px) {
     margin-right: 10em;
    }
@media screen and (max-width: 1390px) {
     margin-right: 10em;
    }
@media screen and (max-width: 1270px) {
     margin-right: 10em;
    }
@media screen and (max-width: 1170px) {
     margin-right: 10em;
    }
@media screen and (max-width: 1020px) {
     margin-right: 10em;
    }
@media screen and (max-width: 940px) {
     margin-right: 10em;
    }
@media screen and (max-width: 860px) {
     margin-right: 2em;
    }
@media screen and (max-width: 805px) {
      display: block;
margin-top: 0;
width: 100%;
margin-right: 1em;
margin-left: 1em;

    }
@media screen and (max-width: 640px) {
      display: block;
width: 127%;
margin-left: -9em;
padding-left: 4em;
font-size: .75em;

    }
 @media screen and (max-width: 580px) {
      display: block;
width: 140%;
padding-left: 0;

margin-left: -6em;
font-size: .75em;
margin-right: 3em;
padding-bottom: 1em;
    }
}


/*---my hobbies section---*/
.about_hobbies_section {
padding-top: 1em;
  background-color: var(--light-section-2-bg-colour);
  @media (prefers-color-scheme: dark) {
    background-color: var(--section-2-bg-colour);
  }
}
.hobbies_section_accordion {
  background-color: var(--light-section-2-bg-colour);
  color: black;
border: none;
  cursor: pointer;
  padding: 18px;
margin: auto;
align-items: center;
text-align: center;
display: flex;
  max-width: 30%;
font-size: 1em;
margin-bottom: 1em;
  text-align: center;
  outline: none;
  transition: 0.4s;

@media screen and (max-width: 1090px) {
max-width: 35%;
 }
@media screen and (max-width: 890px) {
max-width: 45%;
 }
@media screen and (max-width: 690px) {
max-width: 50%;
 }
@media screen and (max-width: 490px) {
max-width: 50%;
 } 
&:hover{
border-bottom: 2px solid var(--light-hover-active-colour);
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--hover-active-colour);
}
}
@media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
background-color: var(--section-2-bg-colour);

}
}
.hobbies_section_accordion_active{
border-bottom: 2px solid var(--light-hover-active-colour);
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--hover-active-colour);
}


}
/* Style the accordion panel. Note: hidden by default */
.hobbies_section_panel {
  padding: 0 18px;
  background-color: var(--light-section-2-bg-colour);
  display: none;
width: 60%;
padding: 1em;
margin-left: 20%;
  overflow: hidden;
@media screen and (max-width: 800px) {
width: 90%;
margin-left: 5%;
}
@media (prefers-color-scheme: dark) {
  background-color: var(--section-2-bg-colour);
    }
 }

.about_hobbies_h1 {
    color: var(--light-nav-text-colour);
    margin: auto;
    text-align: center;
@media screen and (max-width: 800px) {
      font-size: 1.2em;
      margin-bottom: .5em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
  .about_hobbies_h1_intrest {
    color: var(--light-nav-text-colour);
    margin: auto;
    text-align: center;
    margin-top: 0%;
@media screen and (max-width: 800px) {
      font-size: 1.2em;
      margin-bottom: .5em;
      margin-top: 1.2em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
  .about_hobbies_p {
    padding-bottom: 5em;
    padding-left: 1em;
    margin: auto;
    text-align: center;
    color: var(--light-nav-text-colour);
    @media screen and (max-width: 800px) {
        font-size: 0.75em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        margin-right: 1em;
        padding-right: 1.5em;
        margin: auto;
        text-align: center;
        color: var(--light-nav-text-colour);
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }

/*---my education/employment history section---*/
.about_edu_work_section {
  padding-top: .2em;
  background-color: var(--light-section-3-bg-colour);
  @media screen and (max-width: 700px) {
    padding-bottom: 2em;
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--section-3-bg-colour);
  }
}
.work_section_accordion {
  background-color: var(--light-section-3-bg-colour);
  color: black;
border: none;
  cursor: pointer;
  padding: 18px;
margin: auto;
align-items: center;
text-align: center;
display: flex;
  max-width: 30%;
font-size: 1em;
margin-bottom: 1em;
  text-align: center;
  outline: none;
  transition: 0.4s;

@media screen and (max-width: 1090px) {
max-width: 35%;
 }
@media screen and (max-width: 890px) {
max-width: 45%;
 }
@media screen and (max-width: 690px) {
max-width: 50%;
 }
@media screen and (max-width: 490px) {
max-width: 50%;
 } 
&:hover{
border-bottom: 2px solid var(--light-hover-active-colour);
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--hover-active-colour);
}
}
@media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
background-color: var(--section-3-bg-colour);

}
}
.work_section_accordion_active{
border-bottom: 2px solid var(--light-hover-active-colour);
@media (prefers-color-scheme: dark) {
border-bottom: 2px solid var(--hover-active-colour);
}

}
/* Style the accordion panel. Note: hidden by default */
.work_section_panel {
  padding: 0 18px;
  background-color: var(--light-section-3-bg-colour);
  display: none;
width: 80%;
padding: 1em;
margin-left: 10%;
  overflow: hidden;
@media screen and (max-width: 850px) {
width: 90%;
margin-left: 5%;
margin-right: 5%;
 }
@media screen and (max-width: 375px) {
padding: .1em;
margin: 0;

 }
@media (prefers-color-scheme: dark) {
  background-color: var(--section-3-bg-colour);
    }
 }

 .about_education_h2 {
    padding-left: 1em;
    padding-top: .5em;
    margin: auto;
    text-align: center;
    color: var(--light-nav-text-colour);
@media screen and (max-width: 800px) {
      font-size: 1.2em;
      margin-bottom: .5em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
  .about_education_school_p {
    padding-left: 1em;
    margin: auto;
    text-align: center;
    color: var(--light-nav-text-colour);
    @media screen and (max-width: 800px) {
    font-size: 0.75em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
.school_qualification_accordion {
  background-color: var(--light-section-3-bg-colour);
border: .1px solid rgba(0, 0, 0, 0.404);
  color: black;
  cursor: pointer;
  padding: 18px;
margin-left: 35%;
  width: 30%;
margin-top: 1em;
font-size: .75em;
  text-align: center;
  outline: none;
  transition: 0.4s;
@media screen and (max-width: 1460px) {
width: 35%;
font-size: 0.75em;
margin-left: 33%;
 }
@media screen and (max-width: 1260px) {
width: 40%;
font-size: 0.75em;
margin-left: 30%;
 }
@media screen and (max-width: 1100px) {
width: 45%;
font-size: 0.75em;
margin-left: 27%;
 }
@media screen and (max-width: 985px) {
width: 55%;
font-size: 0.75em;
margin-left: 23%;
 }
 @media screen and (max-width: 800px) {
width: 60%;
font-size: 0.75em;
margin-left: 20%;
 }
@media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
background-color: var(--section-3-bg-colour);
border: .1px solid rgba(117, 115, 115, 0.404);

}
}
/* Style the accordion panel. Note: hidden by default */
.school_qualification_panel {
  padding: 0 18px;
  background-color: var(--light-section-3-bg-colour);
  display: none;
width: 80%;
padding: 1em;
margin-left: 10%;
  overflow: hidden;
@media screen and (max-width: 800px) {
width: 90%;
margin-left: 5%;
margin-right: 5%;
}
@media (prefers-color-scheme: dark) {
  background-color: var(--section-3-bg-colour);
    }
 }

.about_active, .qualification_accordion:hover {
  background-color: var(--light-hover-active-colour);
color: white;
@media (prefers-color-scheme: dark) {
      background-color: var(--hover-active-colour);
color: #000;
    }
}

 .school_qualification_table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    align-items: center;
    padding-top: 1em;
    color: var(--light-nav-text-colour);
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
    td,
    th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
       font-size: .8em;
      @media screen and (max-width: 800px) {
        border: 1px solid black;
        text-align: left;
font-size: .75em;
        padding: 8px;
      }
      @media (prefers-color-scheme: dark) {
        border: 1px solid white;
      }
    }
  }
.about_education_college_p {
    padding-left: 1em;
    padding-top: 1em;
    margin: auto;
    text-align: center;
    color: var(--light-nav-text-colour);
@media screen and (max-width: 800px) {
      font-size: 0.75em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
.college_qualification_accordion {
  background-color: var(--light-section-3-bg-colour);
border: .1px solid rgba(0, 0, 0, 0.404);
  color: black;
  cursor: pointer;
  padding: 18px;
margin-left: 35%;
  width: 30%;
margin-top: 1em;
font-size: .75em;
  text-align: center;
  outline: none;
  transition: 0.4s;
@media screen and (max-width: 1460px) {
width: 35%;
font-size: 0.75em;
margin-left: 33%;
 }
@media screen and (max-width: 1260px) {
width: 40%;
font-size: 0.75em;
margin-left: 30%;
 }
@media screen and (max-width: 1100px) {
width: 45%;
font-size: 0.75em;
margin-left: 27%;
 }
@media screen and (max-width: 985px) {
width: 55%;
font-size: 0.75em;
margin-left: 23%;
 }
 @media screen and (max-width: 800px) {
width: 60%;
font-size: 0.75em;
margin-left: 20%;
 }
@media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
background-color: var(--section-3-bg-colour);
border: .1px solid rgba(117, 115, 115, 0.404);

}
}
.college_qualification_panel {
  padding: 0 18px;
  background-color: var(--light-section-3-bg-colour);
  display: none;
width: 80%;
padding: 1em;
margin-left: 10%;
  overflow: hidden;
@media screen and (max-width: 500px) {
width: 90%;
margin-left: 1%;
padding-right:100%;
margin-right: 5%;
}
@media (prefers-color-scheme: dark) {
  background-color: var(--section-3-bg-colour);
    }
 }
.about_active, .college_qualification_accordion:hover {
  background-color: var(--light-hover-active-colour);
color: white;
@media (prefers-color-scheme: dark) {
      background-color: var(--hover-active-colour);
color: #000;
    }
}
 .college_qualification_table {
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 1em;
    color: #000;
    td,
    th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
font-size: .8em;
      @media screen and (max-width: 800px) {
        border: 1px solid black;
        text-align: left;
font-size: .75em;
        padding: 8px;
      }
      @media (prefers-color-scheme: dark) {
        color: white;
border: 1px solid white;
      }
    }
@media screen and (max-width: 900px) {
      width: 40%;
     font-size: .75em;
padding-right: 2em;
    }
    @media screen and (max-width: 500px) {
      width: 20%;
     font-size: .75em;
margin-right: 15%;
margin-left: 0em;
padding-left: 0;
    }
  }
 .about_work_experience_h2 {
    padding-left: 1em;
padding-top: .5em;
    margin: auto;
    text-align: center;
    color: var(--light-nav-text-colour);
@media screen and (max-width: 800px) {
      font-size: 1.2em;
      margin-bottom: .5em;
     margin-top: 1.4em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
  .about_work_experience_p {
    padding-left: 1em;
    padding-bottom: 1em;
    margin: auto;
    text-align: center;
    color: var(--light-nav-text-colour);
    @media screen and (max-width: 800px) {
      font-size: 0.75em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
.cameo_qualification_accordion {
  background-color: var(--light-section-3-bg-colour);
border: .1px solid rgba(0, 0, 0, 0.404);
  color: black;
  cursor: pointer;
  padding: 18px;
margin-left: 35%;
  width: 30%;
margin-top: 1em;
font-size: .75em;
  text-align: center;
  outline: none;
  transition: 0.4s;
@media screen and (max-width: 1460px) {
width: 35%;
font-size: 0.75em;
margin-left: 33%;
 }
@media screen and (max-width: 1260px) {
width: 40%;
font-size: 0.75em;
margin-left: 30%;
 }
@media screen and (max-width: 1100px) {
width: 45%;
font-size: 0.75em;
margin-left: 27%;
 }
@media screen and (max-width: 985px) {
width: 55%;
font-size: 0.75em;
margin-left: 23%;
 }
 @media screen and (max-width: 800px) {
width: 60%;
font-size: 0.75em;
margin-left: 20%;
 }
@media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
background-color: var(--section-3-bg-colour);
border: .1px solid rgba(117, 115, 115, 0.404);

}
}
.cameo_qualification_panel {
  padding: 0 18px;
  background-color: var(--light-section-3-bg-colour);
  display: none;
width: 80%;
padding: 1em;
margin-left: 10%;
  overflow: hidden;
@media screen and (max-width: 500px) {
width: 90%;
margin-left: 1%;
margin-right: 5%;
}
@media (prefers-color-scheme: dark) {
  background-color: var(--section-3-bg-colour);
    }
 }
.about_active, .cameo_qualification_accordion:hover {
  background-color: var(--light-hover-active-colour);
color: white;
@media (prefers-color-scheme: dark) {
      background-color: var(--hover-active-colour);
color: #000;
    }
}
.cameo_qualification_table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    align-items: center;
    padding-top: 1em;
    color: var(--light-nav-text-colour);
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
    td,
    th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
font-size: .8em;
      @media screen and (max-width: 800px) {
        border: 1px solid black;
        text-align: left;
font-size: .75em;
        padding: 8px;
      }
      @media (prefers-color-scheme: dark) {
        border: 1px solid white;
      }
    }
@media screen and (max-width: 500px) {
        margin-left: 2.8em;
      }
  }
.about_work_experience_p_2 {
    padding-top: 0.7em;
    padding-left: 1em;
    padding-bottom: 1em;
    margin: auto;
    text-align: center;
    color: var(--light-nav-text-colour);
    @media screen and (max-width: 800px) {
     font-size: 0.75em;
    }
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }

/*------6:projects.html-styling-----*/
.projects_section {
  background-color: var(--light-section-4-bg-colour);
  padding-bottom: 0.7em;
  @media screen and (max-width: 700px) {
    padding-bottom: 2em;
  }
  @media (prefers-color-scheme: dark) {
    background-color: var(--section-4-bg-colour);
  }
  .projects_h1 {
    padding-top: 1em;
margin: auto;
    padding-bottom: 0.7em;
text-align: center;
    color: var(--light-nav-text-colour);
    
    @media (prefers-color-scheme: dark) {
      color: var(--nav-text-colour);
    }
  }
}
.project_card_band {
  width: 60%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
padding-top: 1em;
padding-bottom: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 60em) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1610px) {
width: 65%;
margin: auto;
    
  }
@media screen and (max-width: 1410px) {
width: 70%;
margin: auto;
    
  }
@media screen and (max-width: 1360px) {
width: 75%;
margin: auto;
    
  }
@media screen and (max-width: 1260px) {
width: 80%;
margin: auto;
    
  }
@media screen and (max-width: 1140px) {
width: 90%;
margin: auto;
    
  }
@media screen and (max-width: 970px) {
width: 90%;
margin: auto;
    
  }
 @media screen and (max-width: 960px) {
width: 55%;
display: block;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 860px) {
width: 60%;
display: block;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 760px) {
width: 69%;
display: block;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 460px) {
width: 69%;
display: block;
padding-top: 0em;
margin-top: 0em;
padding-bottom: 0em;
margin: auto;
    
  }
}
.project_card {
  background: var(--light-card-bg-colour);
  text-decoration: none;
  box-shadow: 0 2px 5px var(--light-card-box-shadow-colour);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
padding-bottom: 1em;
  transition: all 0.1s ease-in;
  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px var(--light-card-box-shadow-hover-colour);
  }
@media screen and (max-width: 960px) {
margin-top: 2em;
    
  }
  @media (prefers-color-scheme: dark) {
    background: var(--card-bg-colour);
    text-decoration: none;
    color: var(--nav-text-colour);
    box-shadow: 0 2px 5px var(--card-box-shadow-colour);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
    &:hover {
      top: -2px;
      box-shadow: 0 4px 5px var(--card-box-shadow-hover-colour);
    }
  }
}

.project_card_links {
  border: 0.2em;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;

  &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-left: 0.75em;
    padding-top: auto;
  }
@media screen and (max-width: 460px) {
margin-left: 0;
&:hover {
    margin-left: 0em;
  }
  }
  @media (prefers-color-scheme: dark) {
    &:hover {
      color: var(--hover-active-colour);
    }
  }
}
.project_card_article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h1 {
    font-size: 18px;
    margin: 0;
    @media (prefers-color-scheme: dark) {
      h1 {
        font-size: 20px;
        margin: 0;
      }
    }
  }
.project_card_thumb {
    padding-bottom: 60%;
    min-height: 100%;
    width: 100%;
    background-size: cover;
  }
  .project_card_thumb_2 {
    padding-bottom: 60%;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

.project_card_text {
  text-align: center;
font-size: 1em;
padding-top: 1em;
  color: var(--light-nav-text-colour);
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
 @media screen and (max-width: 1670px) {
font-size: .95em;
padding: 1em;
  }
@media screen and (max-width: 1410px) {
font-size: .95em;
    
  }
@media screen and (max-width: 1360px) {

    
  }
@media screen and (max-width: 1260px) {

    
  }
  }
}
.project_card_discription_text{
  text-align: center;
  color: var(--light-project-discription-colour);
  @media (prefers-color-scheme: dark) {
    color: var(--project-discription-colour);
  }
}
.project_card_link_placement {
  margin: auto;
  display: flex;
  padding-top: auto;
  align-items: center;
  text-align: center;
  padding-top: 0.35em;
}
.project_card_links_placement {
  display: flex;
  margin: auto;
}

.project_card_source_code_links {
  border: 0.2em;
  color: var(--light-sorce-code-svg-fill-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-left: 0.75em;
  padding-top: auto;
  &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-left: 0.75em;
    padding-top: auto;
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      color: var(--hover-active-colour);
    }
  }
}
.project_card_link_svg {
  fill: var(--light-svg-fill-colour);
  width: 2.5em;
  height: 2.5em;
  padding-left: 0.9em;
  padding-right: auto;
@media screen and (max-width: 460px) {
margin-left: -.2em;
    
  }
  @media (prefers-color-scheme: dark) {
    fill: var(--svg-fill-colour);
  }
}
.project_card_source_code_svg {
  fill: var(--light-sorce-code-svg-fill-colour);
  width: 2em;
  height: 2em;
  padding-left: 0.7em;
  padding-right: auto;
}
.project_card_project_link_svg {
  fill: var(--light-svg-fill-colour);
  width: 2.5em;
  height: 2.5em;
  padding-left: 0.9em;
  padding-right: auto;
@media screen and (max-width: 460px) {
margin-right: .5em;
    
  }
  @media (prefers-color-scheme: dark) {
    fill: var(--svg-fill-colour);
  }
}


/*---project/hannahcodes-styling---*/
.project_hc_card_band {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
padding-top: 1em;
padding-bottom: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  @media (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 60em) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (max-width: 1610px) {
width: 95%;
margin: auto;
    
  }
@media screen and (max-width: 1410px) {
width: 97%;
margin: auto;
    
  }
@media screen and (max-width: 1360px) {
width: 98%;
margin: auto;
    
  }
@media screen and (max-width: 1260px) {
width: 99%;
margin: auto;
grid-template-columns: repeat(3, 1fr)
    
  }
@media screen and (max-width: 1140px) {
width: 99%;
margin: auto;

    
  }
@media screen and (max-width: 970px) {
width: 99%;
margin: auto;
    
  }
 @media screen and (max-width: 960px) {
width: 99%;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 860px) {
width: 99%;
padding-top: 0em;
margin: auto;
    
  }
@media screen and (max-width: 760px) {
width: 99%;
padding-top: 0em;
margin: auto;
grid-template-columns: repeat(2, 1fr)
    
  }
@media screen and (max-width: 460px) {
width: 85%;
display: block;
padding-top: 0em;
margin-top: 0em;
padding-bottom: 0em;
margin: auto;
    
  }
}
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
padding-top: 2em;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal_display {
margin-top: 13em;
padding-top: 2em;
}

.modal_button{
cursor: pointer;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 1.5em;
margin-top: -.2em;
  font-weight: bold;
@media (prefers-color-scheme: dark) {
    color: #aaa;
  }
}

.close:hover,
.close:focus {
  color: var(--light-hover-active-colour);
  text-decoration: none;
  cursor: pointer;
@media (prefers-color-scheme: dark) {
    color: var(--hover-active-colour);
  }
} 
  /* Modal Header */
.modal-header {
  padding: 1em;
  background-color: var(--light-section-4-bg-colour);
 border-bottom: 1px solid #ffffff;
  color: var(--light-nav-text-colour);
text-align: center;
margin: auto;
@media (prefers-color-scheme: dark) {
    border-bottom: 1px solid #423f3f;
background-color: var(--section-4-bg-colour);
color: var(--nav-text-colour);
  }

}

.modal_h2{
font-size: 1.2em;
@media screen and (max-width: 1120px) {
font-size: .90em;
}
}
.modal_p{
font-size: .75em;
@media screen and (max-width: 1120px) {
font-size: .70em;
}
}
/* Modal Body */
.modal-body {padding: 2px 16px;}


/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--light-section-4-bg-colour);
  margin: auto;
  padding: 0;
  border: 1px solid #1b1b1b;
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
@media screen and (max-width: 1280px) {
width: 70%;
margin: auto;
    
  }
 @media screen and (max-width: 1260px) {
width: 70%;
margin: auto;
    
  }
@media screen and (max-width: 1140px) {
width: 75%;
margin: auto;
    
  }
@media screen and (max-width: 1040px) {
width: 80%;
margin: auto;
    
  }
@media screen and (max-width: 970px) {
width: 85%;
margin: auto;
    
  }
@media screen and (max-width: 870px) {
width: 95%;
margin: auto;
    
  }
@media (prefers-color-scheme: dark) {
background-color: var(--section-4-bg-colour);
color: var(--nav-text-colour);

}
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 

.project_hc_card_link_svg {
  fill: var(--light-svg-fill-colour);
  width: 1.8em;
  height: 1.8em;
  padding-left: 0.9em;
  padding-right: auto;
@media screen and (max-width: 1560px) {
padding-left: 0.7em;
}
@media screen and (max-width: 460px) {
margin-left: -.2em;
    
  }
  @media (prefers-color-scheme: dark) {
    fill: var(--svg-fill-colour);
  }
}
.project_hc_card_links {
  border: 0.2em;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin-left: 0.75em;
  padding-top: auto;

  &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-left: 0.75em;
    padding-top: auto;
  }
@media screen and (max-width: 1560px) {
font-size: 14px;
    &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin-left: 0.75em;
    padding-top: auto;
  }
  }
@media screen and (max-width: 1320px) {
font-size: 12px;
    &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin-left: 0.75em;
    padding-top: auto;
  }
  }
@media screen and (max-width: 460px) {
margin-left: 0;
&:hover {
    margin-left: 0em;
  }
  }
  @media (prefers-color-scheme: dark) {
    &:hover {
      color: var(--hover-active-colour);
    }
  }
}
.project_hc_card_source_code_svg {
  fill: var(--light-sorce-code-svg-fill-colour);
  width: 1.7em;
  height: 1.7em;
  padding-left: 0.7em;
  padding-right: auto;
}
.project_hc_card_link_placement {
  display: flex;
  padding-top: auto;
  align-items: center;
  text-align: center;
  padding-top: 0.35em;
margin-right: 1em;
}
.project_hc_card_links_placement {
  display: flex;
  margin: auto;
margin-left: 38%;
@media screen and (max-width: 1720px) {
margin-left: 35%;
}
@media screen and (max-width: 1420px) {
margin-left: 35%;
}
@media screen and (max-width: 1120px) {
margin-left: 30%;
}
@media screen and (max-width: 1020px) {
margin-left: 32%;
}
@media screen and (max-width: 760px) {
margin-left: 25%;
}
@media screen and (max-width: 460px) {
margin-left: 25%;
}
}
.project_hc_card_source_code_links {
  border: 0.2em;
  color: var(--light-sorce-code-svg-fill-colour);
  text-decoration: none;
  display: inline-block;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin-left: 0.75em;
  padding-top: auto;
  &:hover {
    border: 0.2em;
    color: var(--light-hover-active-colour);
    text-decoration: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-left: 0.75em;
    padding-top: auto;
  }

  @media (prefers-color-scheme: dark) {
    &:hover {
      color: var(--hover-active-colour);
    }
  }
}
/*------7:404.html-styling-----*/
.error_header_h1 {
  padding-top: 5em;
padding-bottom: .5em;
margin-bottom: 3em;
  margin: auto;
  text-align: center;
  color: var(--light-nav-text-colour);
  @media screen and (max-width: 800px) {
    padding-top: 12em;
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
  }
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
  }
}
.error_h2 {
  margin: auto;
  text-align: center;
  padding: 5em;
  padding-top: -10em;
  padding-bottom: 5em;
margin-top: -13em;
  @media screen and (max-width: 800px) {
    margin: auto;
    text-align: center;
    padding-top: 0em;
    padding-bottom: 10em;
    padding-left: 2em;
margin-top: -4em;
    padding-right: 2em;
font-size: 1em;
  }
  @media (prefers-color-scheme: dark) {
    color: var(--nav-text-colour);
  }
}
    







/*------8:footer-styling-----*/
footer{
background-color: var(--light-nav-footer-bg-colour);
width: 100%;
height: auto;
padding-left: auto;
  padding-top: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-right: auto;
margin-left: 0;
  bottom: 60px;
h1 {
    font-weight: 700;
    text-align: center;
  }
  p.desktop {
    font-weight: 700;
    text-align: center;
@media screen and (max-width: 915px) {
font-size: .75em;
padding-right: .3em;
      margin-top: -2em;
      margin: auto;
 }
@media screen and (max-width: 800px) {
display: none;
      opacity: 0;
 }
  }
@media (prefers-color-scheme: dark) {
    background-color: var(--nav-footer-bg-colour);
    color: var(--footer-link-colour);
}
p.mobile {
    font-weight: 700;
    text-align: center;
    opacity: 0;
    @media screen and (max-width: 800px) {
      opacity: 1;
      margin: auto;
      padding: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
a {
    margin-left: 2em;
    float: right;
    padding-left: 0.2em;
    padding-right: 0.2em;
    align-items: center;
    text-align: center;
    color: var(--footer-link-colour);
@media screen and (max-width: 915px) {
font-size: .95em;
padding: 1em;
      margin-top: -2em;
      margin: auto;
 }
@media screen and (max-width: 886px) {
font-size: .95em;
padding: .8em;
      margin-top: -2em;
      margin: auto;
 }
@media screen and (max-width: 829px) {
font-size: .85em;
padding: .6em;
      margin-top: -2em;
      margin: auto;
 }
}
}
.footer_display {
    display: flex;
    margin-left: 1em;
    align-items: center;
    @media screen and (max-width: 800px) {
      display: grid;
      background-color: var(--light-nav-footer-bg-colour);
    }
    @media (prefers-color-scheme: dark) {
      background-color: var(--nav-footer-bg-colour);
      @media screen and (max-width: 800px) {
        display: grid;
        background-color: var(--nav-footer-bg-colour);
      }
    }
  }
.footer_logo {
    padding: 1vh 1vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    img {
      height: 5rem;
      width: 5rem;
    }
    @media screen and (max-width: 800px) {
      margin: auto;
      align-items: center;
      padding: 0%;
    }
  }